@import 'variables';

.search{
    &__field{
        display: block;
        width: 100%;
        background-color: $blue;
        border: 0;
        padding: 15px;
        color: $white;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    &__result{
        margin-bottom: 15px;
        color: $black;
    }

    &__filter{
        color: $black;
        margin-bottom: 15px;

        &_header{
            text-align: center;
            text-transform: uppercase;
            background-color: $green;
            color: $white;
            padding: 5px;
            cursor: pointer;
        }

        &_value{
            background-color: $white;
            padding: 5px;
            border-bottom: 1px solid $black;
            cursor: pointer;

            &.active{
                background-color: $blue;
                color: $white;
            }
        }
    }

    &__sort{
        color: $black;
        margin-bottom: 15px;

        &_header{
            text-align: center;
            text-transform: uppercase;
            background-color: $green;
            color: $white;
            padding: 5px;
            cursor: pointer;
        }

        &_value{
            background-color: $white;
            padding: 5px;
            border-bottom: 1px solid $black;
            cursor: pointer;

            &.active{
                background-color: $blue;
                color: $white;
            }
        }
    }

    &__product{
        background-color: $blue;
        margin-bottom: 15px;
        border-bottom: 1px solid $black;

        &.active{
            background-color: $green;

            .search__product_addtolist{
                display:none;
            }
        }

        &_price{
            font-size:18px;
            padding: 15px 0;
        }

        &_details{
            padding: 15px 0;
        }

        &_addtolist{
            cursor: pointer;
            padding: 15px 0;

            &::after{
                content: "+";
                float:right;
                display: block;
                margin-right: 30px;
                width: 30px;
                height: 30px;
                text-align: center;
                font-size: 26px;
                line-height: 30px;
                background-color: $green;
            }
        }

        &_loadmore{
            background-color: $red;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}