<div class="list" ng-controller="ListCtrl as list">
    <div class="col-md-12 col-sm-12 col-xs-12 list__product" ng-repeat="item in list.list">
        <a href="/detail/{{item.Id}}">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2 list__product_img">
                    <img src="{{item.Vineyard.ImageUrl}}" class="img-responsive" />
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6 list__product_details">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <b>Product Name:</b>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                            {{item.Name}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <b>Vineyard:</b>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                            {{item.Vineyard.Name}}
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-4 list__product_price text-right">
                    <b>{{item.PriceRetail}}$</b>
                </div>
            </div>
        </a>
    </div>
</div>