<div class="search" ng-controller="SearchCtrl as search">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <input class="search__field" type="text" ng-model="search.searchQuery" ng-change="search.updateProductSearch()" ng-model-options="{ debounce: 250 }" />
        </div>
    </div>

    <div ng-show="search.showSearchResult">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 search__result">
                You searched for: {{search.searchQuery}} ({{search.total}})
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 search__sort">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="search__sort_header">Sort by</div>

                        <div ng-repeat="(key, value) in search.sortOptions.options">
                            <div class="search__sort_value" ng-click="search.setSort(value)" ng-class="{'active': search.isSortActive(value)}">{{key}}</div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="search__sort_header">Sort order</div>

                        <div class="search__sort_value" ng-click="search.setSortReverse(false)" ng-class="{'active': !search.sortOptions.reverse}">Descending</div>
                        <div class="search__sort_value" ng-click="search.setSortReverse(true)" ng-class="{'active': search.sortOptions.reverse}">Ascending</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 search__filter">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6" ng-repeat="(key, array) in search.filter">
                        <div class="search__filter_header" ng-click="search.setFilter(key, '')">{{key}}</div>

                        <div ng-repeat="value in array | orderBy: value">
                            <div class="search__filter_value" ng-click="search.setFilter(key, value)" ng-class="{'active': search.isFilterActive(key, value)}">
                                {{value}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <product ng-repeat="product in search.products | filter: search.filterOptions | orderBy: search.sortOptions.currentSort : search.sortOptions.reverse track by product.Id" product="product" search="search"></product>
                <div class="col-md-12 col-sm-12 col-xs-12 search__product_loadmore" ng-click="search.loadMoreProducts()">
                    Load more products
                </div>
            </div>
        </div>
    </div>
</div>